<div class="second_block" id="first">
	<div class="info">
		<h1 class="name">Почему выбирают нас для кровельных работ в Симферополе и Крыму</h1>
		<p>Мы понимаем, что выбор компании для монтажа кровли – это важное решение. Вот несколько причин, почему наши клиенты доверяют нам:</p>

		<p><b>Профессионализм и опыт:</b> Наша команда имеет многолетний опыт работы в сфере монтажа и ремонта кровель. Мы постоянно совершенствуем свои навыки и следим за новейшими технологиями в области кровельных материалов и технологий.</p>

		<p><b>Индивидуальный подход:</b> Мы внимательно относимся к каждому заказу и предлагаем решения, которые идеально подходят именно для вашего дома. Мы учитываем все ваши пожелания и особенности конструкции, чтобы обеспечить максимальную надежность и долговечность кровли.</p>

		

		<a href="#application" class="application">Оставить заявку</a>
	</div>
</div>

<style>
.second_block {
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-image: url('/22.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.info {
	width: 500px;
	position: relative;
	left: 300px;
	top: 150px;
}

.name {
	text-shadow: 0 0 3px #1f222f, 0 0 5px #1f222f;
	color: white;
	font-size: 40px;
	text-align: center;
}

p {
	color: white;
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.5;
	text-shadow: 0 0 3px #1f222f, 0 0 5px #1f222f;
}

.application {
	width: 200px;
	height: 45px;
	background-color: #4CAF50;
	border-radius: 5px;
	color: white;
	position: relative;
	margin: 30px auto 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s;
}

.application:hover {
	background-color: #45a049;
}

/* --- ПЛАНШЕТЫ --- */
@media screen and (max-width: 992px) {
	.info {
		width: 90%;
		left: 50%;
		top: 100px;
		transform: translateX(-50%);
		text-align: center;
	}
	.name,
	p {
		text-align: center;
	}
}

/* --- МОБИЛЬНЫЕ (маленькие экраны) --- */
@media screen and (max-width: 576px) {
	.info {
		width: 100%;
		left: 50%;
		top: 80px;
		transform: translateX(-50%);
		text-align: center;
		
		padding: 20px 15px;
		border-radius: 8px;
	}

	.name {
		font-size: 34px;   /* крупный заголовок */
		line-height: 1.3;
		color: #fff;
		
	}

	p {
		font-size: 20px;   /* читаемый текст */
		line-height: 1.4;
		color: #fff;
	}

	.application {
		width: 200px;
		height: 48px;
		font-size: 20px;
		margin: 25px auto 0 auto;
	}
}
</style>
