---

---

<div class="second_block" id="first">
			<div class="info">
			<h1 class="name">Почему выбирают нас для кровельных работ в Симферополе и Крыму</h1>
<p>Мы понимаем, что выбор компании для монтажа кровли – это важное решение. Вот несколько причин, почему наши клиенты доверяют нам:</p>

<p>Профессионализм и опыт: Наша команда имеет многолетний опыт работы в сфере монтажа и ремонта кровель. Мы постоянно совершенствуем свои навыки и следим за новейшими технологиями в области кровельных материалов и технологий.</p>

<p>Индивидуальный подход: Мы внимательно относимся к каждому заказу и предлагаем решения, которые идеально подходят именно для вашего дома. Мы учитываем все ваши пожелания и особенности конструкции, чтобы обеспечить максимальную надежность и долговечность кровли.</p>

<p>Доступные цены: Мы предлагаем конкурентоспособные цены на все наши услуги. У нас вы найдете выгодные предложения и акции, которые позволят сэкономить на монтаже и обслуживании кровельного покрытия.</p>
			<a href="#application" class="application">Оставить заявку</a>
			</div>
		</div>

    <style>
      
.second_block{
	width:100%;
	height:1000px;
	position:relative;
	background-image: url('/22.jpg');
	background-repeat: no-repeat;
	background-size:cover;
    /* filter: blur(10px); */

 
}
.name{
	text-shadow:0 0 3px #1f222f, 0 0 5px #1f222f;
	color:white;
	font-size:40px;
	text-align: center;
}
.application{
	width:150px;
	height:40px;
	/* background-color: #f52137; */
	background-color: 	#4CAF50;
	border-radius: 5px;
	color:white;
	position:absolute;
	bottom:-120px;
	left:50%;
	transform: translateX(-50%);
	display:flex;
	justify-content: center;
	align-items: center;
}
.info{
	width:500px;
	height:500px;
	position:relative;
	left:300px;
	top:200px;
}
p{
	color:white;
	margin-top:20px;
	font-size:18px;
	text-shadow:0 0 3px #1f222f, 0 0 5px #1f222f;
}
.button_link{
    color:white;
    width:150px !important;
	height:40px !important;
}


@media screen and (max-width: 990px) {
    .info{
		left:50%;
		transform: translateX(-50%);
		height:600px;
	}
  }
@media screen and (max-width: 700px) {
    	html,body {
  height: 100%;
  width:700px;
}
  }
		
    </style>

